{% extends 'base.html'%}

{%block content%}
<header>
  <nav>
    <div class="logo">
      <div class="logo__symbol"></div>
      <div class="logo__Text">Price Comparator</div>
    </div>
  </nav>
</header>
<main>
  <section class="form__section">
    <p>What are you looking to buy?</p>
    <form class="form-inline" method="GET" action = "{% url 'results-view'%}">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="text" name = 'query' placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </section>
</main>
{%endblock%}
